<template>
  <div id="app">
    <div class="header-business">
        <div class="business-bg-img" :style="{backgroundImage:'url(https://res.cloudinary.com/dwlhubxxu/image/upload/v1620672029/mypic/01_s8k6ja.png)'}"></div>
        <div class="business-bg-img-02" :style="{backgroundImage:'url(https://res.cloudinary.com/dwlhubxxu/image/upload/v1620672029/mypic/bg_lpe5gw.png)'}"></div>
        <div class="shape-02"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="header-inner">
                        <h1 class="title">{{Title}}</h1>
                        <p>{{subTitle}}</p>
                        <div class="btn-wrapper padding-top-30">
                         <router-link class="boxed-btn btn-business" to="/interns">{{buttonText}}</router-link>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </div>
</template>
<script>
export default {
    data() {
    return {
      Title:"Welcome To 2021 Interns" ,
      subTitle:"This is the list  of interns that join sendy in 2021 April invarious departments",
      buttonText:"View Interns"
    };
  },

}
</script>

<style>
#app {
    background-color: transparent;
    padding: 100px 0 85px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
#app .header-business .business-bg-img {
    height: 650px;
    width: 320px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 10%;
    top: 15%;
    z-index: -1;
}

#app .header-business .business-bg-img-02 {
    height: 830px;
    width: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
}
#app .header-business .shape-02 {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #f6ece4;
    z-index: -1;
}
#app .header-business .header-inner .title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: #000629;
    margin-bottom: 30px;
}
#app .header-business .header-inner p {
    color: #000629;
    max-width: 560px;
    font-size: 18px;
    line-height: 28px;
}
.btn-wrapper .boxed-btn.btn-business {
    padding: 12px 40px;
    background-color: #ff6661;
    border-radius: 5px;
    color: #fff;
    border: 1px solid transparent; 
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
    font-weight: 600;
}
</style>
