<template>
  <section>
    <header>
      <h1>Interns</h1>
    </header>
    <ul>
    <li v-for="intern in interns" :key="intern.id">
        <h2>{{ intern.name }}</h2>  
         <router-link  class="boxed-btn"
          :to="{
            name: 'Details',
            params: { slug: intern.slug }
          }"
        >
        {{buttonText}}
        </router-link>
          
   </li>
    </ul>
  </section>
</template>

<script>
import store from '@/store.js'
export default {
  name: 'Home',
  components: {},
  data() {
    return {
      interns: store.interns,
      buttonText:"Show Details"
    }
  }
}
</script>

<style>
* {
  box-sizing: border-box;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  background-color: #58004d;
  color: white;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}
 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
 li {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 1rem auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}
a {
  color: lightseagreen;
  text-decoration: none;
}
a:hover,
a:visited {
  text-decoration: none;
}
 h2 {
  font-size: 2rem;
  border-bottom: 4px solid #ccc;
  color: #000629;
  font-weight:600;
  margin: 0 0 2rem 0;
}
.boxed-btn {
  font: inherit;
  cursor: pointer;
  border: 1px solid #ff6661;
  background-color: #ff6661;
  color: white;
  padding: 0.5rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}
.boxed-btn:hover,
  .boxed-btn:active {
   color: white;
  background-color: #ff6661;
  border-color: #ec3169;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
</style>